fastapi
langgraph
openai
PyGithub
sib-api-v3-sdk
SQLAlchemy
sqlalchemy[asyncio]
psycopg2-binary
asyncpg
sqlalchemy[postgresql]
streamlit
pydantic
pydantic[email]
python-dotenv
uvicorn
pandas
uv
pydantic-settings
psutil
aiomysql