fastapi
langgraph
openai
PyGithub
sib-api-v3-sdk
SQLAlchemy
sqlalchemy[asyncio]
mysql-connector-python
mysqlclient
streamlit
pydantic
pydantic[email]
python-dotenv
uvicorn
pandas
uv
pydantic-settings
psutil
aiomysql